-var linksForStudents = ['Изменение в ГИА 2020', 'Социальная поддержка студентов, лиц с ОВЗ', 'EГЭ', 'Дипломная работа', 'Курсовой проект', 'Индивидуальный проект', 'Клуб Отечество', 'Психологическая служба', 'Документация']

ul 
    each link in linksForStudents
        a(href="/")
            li= link