.news{

    .news__content{
        padding-bottom: 100px;
    }

    .news__heading{
        display: flex;
        justify-content: space-between;
    }

    .news__events{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}