.sources{
    background-color: $grey;

    .sources__content{
        padding-top: 50px;
        padding-bottom: 100px;
        
    }

    .sources__source-collection{
        margin-top: 50px;
    }
}
