main.main
    section.news
        .container
            include ./main/news/news.pug

    section.information
        .container
            include ./main/information/information.pug

    section.faculties
        .container
            include ./main/faculties/faculties.pug

    section.sources
        .container
            include ./main/sources/sources.pug


