.header__first-row 
        .header__first-row-left
            a.header__logo(href="/")
                img.header__logo-img(src=require('icons/logo.svg'))
        .header__first-row-right
            include ./search.pug