mixin menu_item(item)
    li.header__navigation-menu-item= item

.header__navigation-menu
    ul
        a(href='/')
            +menu_item("Дистанционное обучение") 
            img.header__navigation-dropdown-icon(src='../../icons/arrow-down.svg')
        
        a(href='/')
            +menu_item("Сведения об образовательной организации") 
            img.header__navigation-dropdown-icon(src='../../icons/arrow-down.svg')
        
        a(href='/')
            +menu_item("Государственные услуги")
        
        a(href='/')    
            +menu_item("Противодействие коррупции")
        
        a(href='/')    
            +menu_item("Мастерские 2020") 
            img.header__navigation-dropdown-icon(src='../../icons/arrow-down.svg')
        
        a(href='/')    
            +menu_item("Электронные обращения")
        
        li 
            img.header__burger-menu-img(src='../../icons/burger-menu.svg')        
