.header__search
    .header__search-input
        input.header__input-text(type="text" placeholder="Поиск")
    button.header__search-btn
        a(href="/")
            img.header__search-loupe-btn(src=require('icons/search.svg'))
    button.header__site-map-btn
        a(href="/")
            img.header__site-map-btn-img(src=require('icons/site-map.svg'))
    button.header__site-eye-btn
        a(href="/")
            img.header__site-eye-btn-img(src=require('icons/eye.svg'))
        