.header__third-row
    .header__welcome
        h1 ДОБРО ПОЖАЛОВАТЬ!
        p "Вельский сельскохозяйственный техникум имени Г.И. Шибанова"
        button.header__detail-btn
            span Подробнее
            img.header_detail-btn-arrow(src=require('icons/arrow-right.svg'))