@import "../components/footer/schedule.scss";
@import "../components/footer/contacts.scss";
@import "../components/footer/other.scss";

    
.footer{
    
    color: $white;
    background-color: #517679;
    
    .footer__content{
        display: flex;
        justify-content: space-between;

        padding-bottom: 136px;
    }
}