.sources__content.content
    .sources__heading
        h1 ПОЛЕЗНЫЕ РЕСУРСЫ

    .swiper-container.sources__source-collection
        .swiper-wrapper
            .swiper-slide.sources__source
                a(href='/')
                    img.sources__img(src="../../../images/source.png")
            .swiper-slide.sources__source
                a(href='/')
                    img.sources__img(src="../../../images/source.png")
            .swiper-slide.sources__source
                a(href='/')
                    img.sources__img(src="../../../images/source.png")
            .swiper-slide.sources__source
                a(href='/')
                    img.sources__img(src="../../../images/source.png")
            .swiper-slide.sources__source
                a(href='/')
                    img.sources__img(src="../../../images/2.png")
        
        .swiper-button-prev
        .swiper-button-next
