.faculties__faculty
    .faculties__faculty-content
        .faculties__faculty-head-img
            img.faculties__faculty-img(src="../../../../images/faculty.png")
        .faculty__faculty-body
            h1 ЗЕМЛЕУСТРОЙСТВО
            a(href-"/") 
               |подробнее