.faculties__faculty
    .faculties__faculty-content
        .faculties__faculty-head-img
            img.faculties__faculty-img(src=require("images/faculty.png"))
        .faculty__faculty-body
            h1 ЗЕМЛЕУСТРОЙСТВО
            a(href-"/") 
               |подробнее