header.header
    .container
        .header__content.content        
            //first row
            include ../components/header/first-row.pug
            
            //second row
            .header__second-row
                include ../components/header/navigation_menu.pug