header.header
    .header__container.container
        .header__first-row 
            .header__left
                a.header__logo(href="/")
                    img.header__logo-img(src="../../images/background.png")
                span Вельский сельскохозяйственный техникум имени Г.И. Шибанова
            include ../components/search.pug
