section.section.news
    .container
        include ../components/main/news/news.pug

section.section.information
    .container
        include ../components/main/information/information.pug

section.section.faculties
    .container
        include ../components/main/faculties/faculties.pug

section.section.sources
    .container
        include ../components/main/sources/sources.pug


