-var linksForApplicants = ['Документы по приёму', 'Очное отделение', 'Заочное отделение', 'Специальности', 'Информация о приеме 2018', 'Информация о приеме 2019', 'Информация о приеме 2020']

ul
    each link in linksForApplicants
        a(href="/")
            li= link

