.information__content
    .for-applicants
        h1 АБИТУРИЕНТАМ
        include ./applicant.pug
        button.information__detail-btn Подробнее

    .for-students
        h1 СТУДЕНТАМ
        include ./students.pug
        button.information__detail-btn Подробнее

    .for-teachers
        h1 ПРЕПОДАВАТЕЛЯМИ
        include ./teachers.pug
        button.information__detail-btn Подробнее
