-var linksForTeachers = ['Документы по приёму', 'Очное отделение', 'Заочное отделение', 'Специальности', 'Информация о приеме 2020']

ul 
    each link in linksForTeachers
        a(href="/")
            li= link