//headers navigation menu
.header__navigation-menu ul{
    display: flex;
    justify-content: space-between;
}

.header__navigation-menu ul a{
    display: flex;
}


.header__navigation-dropdown-icon{
    margin-right: 36px;
}


