//headers search-form
.header__search{
    display: flex;
}

.header__search-input input{
    width: 480px;
    height: 40px;
    
    border: 0px;

    background-color: transparent;
    border-bottom: 2px solid $white;
    
    outline: none;
}

.header__search-input input::placeholder{
    color: $white;
}

.header__input-text{
    color: $white;
}
