.header__third-row{

    padding-top: 108px;
    
    .header__welcome{
        display: flex;
        flex-direction: column;
    }

    .header__welcome-title{
        font-weight: 500;
        font-size: 72px;
        line-height: 88px;
    }

    .header__welcome-body{
        font-weight: normal;
        font-size: 26px;

        max-width: 420px;
    }

    .header__detail-btn{
        width: 260px;
        height: 65px;

        background: $yellow;
        border-radius: 5px;

        color: $white;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__detail-btn-arrow{
        padding-left: 20px;
    }

}