-var contactsInfo = ['165150 г. Вельск ул. Дзержинского, д.88', 'Директор (881836) 6-11-05', 'Учебная часть (881836) 6-05-54', 'Приемная комиссия (881836) 6-30-57', 'Бухгалтерия (881836) 6-17-70 ', 'Электронная почта: vst.29@yandex.ru']

ul
    each info in contactsInfo
        li= info