-var otherInfo = ['Дистанционное обучение', 'Сведения об образовательной организации', 'Государственные услуги', 'Противодействие коррупции', 'Мастерские 2020', 'Электронные обращения']

ul
    each info in otherInfo
        a(href="/")
            li= info
    li
        a(href="/")
            img.footer__sputnik-img(src="../../../../icons/Спутник.svg")