-var scheduleInfo = ['ПН-ПТ: С 8:00 до 16:15', 'ОБЕД: С 12:00 до 13:00', 'ВЫХОДНОЙ: суббота, воскресенье']

ul
    each info in scheduleInfo
        li= info
    li 
        a(href="#")
            img.schedule__vk-icon(src=require("icons/vk.svg"))