.sources__heading
    h1 ПОЛЕЗНЫЕ РЕСУРСЫ

//swiper or slider
//...

//each source
ul
    -for (let i=0; i<3; i++)
        .sources_source
            a(href='/')
                img.sources__img(src="../../../../images/source.png")

