// fonts
$roboto: 'Roboto', sans-serif;

$montserrat-medium: 'Montserrat Medium', sans-serif;

$montserrat-semibold: 'Montserrat Medium', sans-serif;

// colors
$white: #FFFFFF;
$black: #171717;
$yellow: #FFB401;
