@import "fonts";
@import "vars";

body{
    margin: 0;
    font-family: $roboto;

    background-color: #F7F7F7;

    box-sizing: border-box;
};

.section{
    margin-bottom: 100px;
}

.container{
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 0 auto;
};

ul{
    list-style: none;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: $montserrat-medium;
}

img{
    max-width: 100%;
}
