@import "fonts";
@import "vars";

body{
    margin: 0;
    font-family: $roboto;

    background-color: #E5E5E5;
};

.container{
    max-width: 1180px;
    margin: 0 auto;
};

ul{
    list-style: none;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

