.news__event
    .news__event-content
        .news__event-head-img
            img.news__event-img(src=require("images/event1.png"))
        .news__event-body
            h1.news__event-title Ярмарка 2020
            
            span.news__event-date 21.05.2020
            
            p.news_event-description
                |Студенты и преподаватели техникума принимают участие 
                |в ярмарке предпринимательских идей на центральной площади Вельска.
            
            a подробнее